.wrapper {
  margin-top: 20px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.title {
  text-align: center;
  margin: 20px;
}

// COUNTER
.counter {
  position: relative;
}

.actions {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: var(--border-radius);
  background: #ccc;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
  }
}

.increment {
  background: rgb(42, 128, 42);
  color: white;
}
.reset {
  background: rgb(140, 161, 140);
  color: white;
}

//expensive-child

.expensive-child {
  position: relative;

  .btn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}
