.wrapper {
  margin-top: 20px;
}
.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.title {
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  max-height: 520px;
  overflow-y: auto;
  padding-right: 12px;
}

.post {
  position: relative;
  padding-left: 12px;

  &::first-letter {
    text-transform: uppercase;
  }
}
.post::before {
  content: "•"; /* gạch đầu dòng */
  position: absolute;
  left: 0;
  color: black; /* màu bullet */
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: var(--border-radius);
  background: #ccc;
  transition: all 0.3s ease-in-out;
  margin-left: 12px;
}
